


{% extends 'base.html' %}


{% block contenido_cuerpo %}

    <section class="detalle-articulo-container">
        
        <a href="{% url 'articulos:path_listar_articulos' %}" class="volver-link"> Volver </a>

        <h1 class="titulo-articulo">{{ articulo.nombre }}</h1>

        <div class="contenido-articulo">

            <img src="{{ articulo.imagen.url }}" class="imagen-articulo" alt="{{ articulo.nombre }}">

            <p class="descripcion-articulo">
                <strong>Descripción:</strong><br>
                {{ articulo.descripcion }}
            </p>
            
        </div>

        <div class="area-comentarios">
            <h1 class="comentarios">Comentarios</h1>
            <form action="{% url 'comentarios:path_comentar' articulo.pk %}" method="post"> {%csrf_token%}
            <textarea name="comentario" type="text" cols="60" rows="10" class="comentario-texto" required="true"></textarea>
            <button type="submit">COMENTAR</button>
            </form>
            {% for c in Articulo.MisComentarios %}
                <ul>
                    <li> {{c.texto}} </li>
                </ul>
            {% endfor %}
        </div>

    </section>

{% endblock contenido_cuerpo %}





